<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Script_Text_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Script_Text_Editor.Properties.Settings>
      <setting name="LibraryType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OnEnterGotoNext" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScriptPath" serializeAs="String">
        <value>Scripts</value>
      </setting>
      <setting name="SavedPath" serializeAs="String">
        <value>SavedTranslations</value>
      </setting>
      <setting name="NewScriptPath" serializeAs="String">
        <value>NewScripts</value>
      </setting>
      <setting name="AutoSavePath" serializeAs="String">
        <value>Autosaves</value>
      </setting>
      <setting name="LibraryPath" serializeAs="String">
        <value>Library_Text.dll</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>300, 200</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>604, 449</value>
      </setting>
      <setting name="AutoSaveDuration" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BackgroundImage" serializeAs="String">
        <value />
      </setting>
      <setting name="ListColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="TextBoxColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ListFont" serializeAs="String">
        <value>微软雅黑, 10.5pt</value>
      </setting>
      <setting name="TextBoxFontOrg" serializeAs="String">
        <value>Meiryo, 10.5pt</value>
      </setting>
      <setting name="TextBoxFontNew" serializeAs="String">
        <value>微软雅黑, 10.5pt</value>
      </setting>
    </Script_Text_Editor.Properties.Settings>
  </applicationSettings>
</configuration>